<!DOCTYPE html>
<html>
<head>
    <title>Colorlib Listed Directory Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/CssAndJsForLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CssAndJsForLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CssAndJsForLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CssAndJsForLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CssAndJsForLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CssAndJsForLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CssAndJsForLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CssAndJsForLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/CssAdminLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/CssAndJsForLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/CssAndJsForLogin/css/main.css">
    @Scripts.Render("~/Modernizr")
    @RenderSection("CustomStyles", required: false)
</head>
<body>
    @RenderBody()
    <!--===============================================================================================-->
    <script src="~/CssAndJsForLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/CssAndJsForLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/CssAndJsForLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/CssAndJsForLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/CssAndJsForLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/CssAndJsForLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/CssAndJsForLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/CssAndJsForLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/CssAndJsForLogin/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>