
@{
    ViewBag.Title = "Xác nhận Email";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
}
<section>
    <div class="container">
            <div class="col-md-12 text-center">
                <div class="mb-5 element-animate ">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="col-md-12 text-center">
            <h2 class="mb-5">Thank you for confirming Email. Please come back @Html.ActionLink("Trang chủ", "Index", "Home")</h2>
        </div>
    </div>
</section>



