@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
}

<section>
    <div class="container">
        <div class="col-md-12 text-center">
            <div class="mb-5 element-animate ">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="col-md-12 text-center">
            <h3 class="text-danger">Unsuccessful login with service.</h3>
        </div>
    </div>
</section>

@*<hgroup class="">
        <h2 class="">@ViewBag.Title.</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>*@