@{
    ViewBag.Title = "Paid Result";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-push-5">
            <div class="create_account">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-push-2">
            <div class="table-responsive">
                <h3 class="">Payment results:@ViewBag.DisplayMsg Please enter @Html.ActionLink("here", "DisplayCartAfterCreateOrder", "ShoppingCart", new { orderId = ViewBag.OrderId }, null) to go have a look at your cart!</h3>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
        <div class="header clearfix">

            <h3 class="text-muted">Kết quả thanh toán</h3>
        </div>
        <div class="table-responsive">
            @ViewBag.DisplayMsg
        </div>
    </div>*@