
@{
    ViewBag.Title = "FeedBack";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
}

<div align="center">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdGF2KCqo3kaHWEqLIeeZyvRtSdFNsjunXv-p-2LlzMAxs5ig/viewform?embedded=true" width="800" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
