
@{
    ViewBag.Title = "NormalQuestionsAsked";
    Layout = "~/Views/Shared/_LayoutCustomerPage.cshtml";
}
<div class="container">
    <div class="wrapper">
        <div class="btn btn-default">
            <h5>
                <span class="fa fa-home" style="font-size:25px"></span>
                <span href="@Url.Action("NormalQuestionsAsked", "Home")">Frequently Asked Questions ?</span>
            </h5>
        </div>
        <div class="col-md-11 ask">
            <h3>Frequently Asked Questions ?</h3>
        </div>
        <div class="col-md-11 khung">
            <p style="text-align: left;"><strong><font style="vertical-align: inherit;">I. How to order products on <a href="https://flowerattt.azurewebsites.net/" rel="stylesheet">flowerattt.azurewebsites.net</a> :</font></strong></p>
            <p><b>1. How to buy Products from <a href="https://flowerattt.azurewebsites.net/">flowerattt.azurewebsites.net</a></b></p>
            <p>
                You can order in the following ways:<br />

                + Buy directly on the website.<br />

                + Order via Hotline (24/24)  (+84) 386779788<br />

                + Order directly at the shop: No. 8A Ton That Thuyet, My Dinh, Nam Tu Liem, Ha noi, Viet Nam
            </p>
            <p><b>2. What is the best order time before flower delivery?</b></p>
            <p>In all cases, we encourage you to place flowers 24 hours in advance, which will help us better. However, some important unexpected cases and simple flower samples we can still accept orders 1 to 2 hours in advance. We will do our best to allow you to help.</p>
            <p><b>3. How will <a href="https://flowerattt.azurewebsites.net/">Flower FC</a> confirm the order?</b></p>
            <p>
                When ordering successfully you will receive an email notifying the content of successful order details via email you have registered on the website. After receiving the order we will call or email the order confirmation with you.
            </p>
            <p><b>4. Is <a href="https://flowerattt.azurewebsites.net/">Flower FC</a>'s product guaranteed to be of the right quality and the right samples?</b></p>
            <p>
                All agents and suppliers of products and services have been selected and committed to Hoayeuthuong to serve the best products and services to you. You be assured offline! If there is anything unhappy, please feedback to us at the switchboard (+84) 386779788 - Email: <a href="mailto:flower@gmail.com">flower@gmail.com</a>  . We always listen and acknowledge the opinions of our customers.<br />

                In case of lack of materials for flowers, we will proactively contact you to inform and advise the best alternative.
            </p>
            <p><b>5. If the orders are in the province, how are the shipping fees calculated?</b></p>
            <p>
                For orders in the province, if the delivery location is within a radius of 5 km from the center of the province, customers will not need to pay additional shipping fees. For orders outside the 5km radius, we ask the branch to reconfirm the shipping fee, delivery time as well as flower quality during delivery and will reply back to you in normal time. 15 minutes.
            </p>
            <p><b>6. Can I donate with teddy bear when flowers return to province?</b></p>
            <p>
                We provide teddy bear support with orders delivered in the province. However, to facilitate bear delivery, we only support customers who book 3 days in advance from the date of delivery.
            </p>
            <p><b>7. Do I need to register to become a customer of <a href="https://flowerattt.azurewebsites.net/">Flower FC</a> to buy or not?</b></p>
            <p>
                Depending on your privacy, you don't need to register. However, the registration helps us have better information about you, such as promotions, gifts ...
            </p>
            <p><b>8 . In case you forget your password</b></p>
            <p>To recover your password, click Forgot Password when you log in and follow the instructions</p><br />

            <p><b>II. Payment method:</b></p><br />

            <p><b>9. How to pay for orders purchased from Flower FC?</b></p>
            <p>
                You can pay directly, specialize in bank or online payment through Internet Banking, Paypal ... You see detailed instructions here:   Payment instructions
            </p>
            <p><b>10. The money transfer via bank, post office usually takes a long time, while I need to place flowers urgently, what should I do?</b></p>
            <p>You only need to take a photo or scan the money order for us and email it to <a href="mailto:flower@gmail.com">flower@gmail.com</a>, we accept this confirmation.</p>
            <p><b>11. In which case will <a href="https://flowerattt.azurewebsites.net/">Flower FC</a> charge additional shipping / other service fees?</b></p>
            <p>
                Currently, flowerattt.azurewebsites.net has agents throughout the provinces and cities across the country, so we almost free the flower delivery service. However, if there are no branches in the communes or towns, we will charge the distance from the center of the province to those places.
            </p><br />

            <p><b>III. Questions arising during the process of order fulfillment:</b></p><br />

            <p><b>12. If there are any questions arising during the process of ordering products from Flower FC, how to do?</b></p>
            <p>
                + Call directly to the customer service phone number:  (+84) 386779788 (we serve 24/24)<br />
                + Or send an email to the address:  <a href="mailto:flower@gmail.com">flower@gmail.com</a>
            </p>
            <p><b>13. Working time of the company?</b></p>
            <p>
                Working hours: 24/24 (We only take the occasion of Lunar New Year)
            </p>
            <p><b>14. After ordering but wishing to cancel / change an order, how to do?</b></p>
            <p>
                You can cancel the order / change order if we have not made the order. You will be refunded in case of cancellation of orders before 4pm in the city. Hanoi, Ho Chi Minh City and 12 hours for other provinces

            </p>
            <p><b>15. What will ensure the recipient receives flowers on time?</b></p>
            <p>
                We will notify you once the order has been completed via SMS for orders in Ha Noi City and other provinces customers can call the switchboard for instructions.
            </p>
            <p><b>16. How can I check ordered products?</b></p>
            <p>
                You can contact the recipient and request a photo of the product. In case you asked us to take a picture of the time, it might be a bit long because we have to extract from the image library, but we're always ready.
            </p>
            <p><b>17. I want to order flowers, but I do not know how to give flowers accordingly, can I get advice before ordering flowers?</b></p>
            <p>Call the hotline (+84) 386779788 for quick advice.</p>
            <p><b>18. Where does the Flower FC send it to?</b></p>
            <p>
                Flowers FC transfers flowers to provinces and cities throughout the country and some countries in the world (USA, UK, Japan, Korea, Australia ...).
            </p>
            <p><b>19. If I want to cooperate in providing products for Flowers Fc, what should I do?</b></p>
            <p>
                If you are interested and want to become our partner, please email us at  <a href="mailto:flower@gmail.com">flower@gmail.com</a> or contact us directly at (+84) 386779788 (Mr. An) for more information. information about cooperation.
            </p>
            <p><b>20. I would recommend my friends and relatives to buy goods at Flower FC, how to do it?</b></p>
            <p>
                You can send our website link to them via Email, Facebook, Yahoo or other social networks. We always appreciate your love and trust. Please use the special link: <a href="https://flowerattt.azurewebsites.net/">flowerattt.azurewebsites.net</a>

            </p>
        </div>

    </div>

</div>


